#git
./.gitignore
.git

# Logs
logs
*.log
npm-debug.log*

# OSX
.DS_Store

# BOWER
bower_components
bower_components/**/*
./bower_components/**/*
./bower_components/**/*.json

#SASS
.sass-cache

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
.npm
.node_repl_history
